body {
  font-family: Poppins, sans-serif;
  margin: 0;
  background: #f6f8fa;
}

.navbar {
  background: #0a3d62;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 12px 30px;
  align-items: center;
}

.nav-links a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
}

.register-container,
.login-container,
.dashboard,
.marks-page {
  max-width: 800px;
  margin: 40px auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
}

.register-form input,
.login-form input,
select {
  display: block;
  width: 100%;
  margin: 8px 0;
  padding: 8px;
}

button {
  background: #0a3d62;
  color: white;
  border: none;
  padding: 8px 14px;
  cursor: pointer;
  border-radius: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.team-box {
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 12px;
  border-radius: 5px;
}
